@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 

/* rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)
    rgb(84, 68, 84)
    */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
  
  /* background-image:url("../../image/img (1).jpeg"),linear-gradient(to bottom,rgb(84, 68, 84), #ffffff); */
  /* background-color: #cccccc; */
  background-image: linear-gradient(
    to left top,
    rgba(126, 213, 111, 1),
    rgba(84, 68, 84, 0.8)),url("../../image/img (1).jpeg");
    background-size: cover;
    background-position: top;
    /* position: relative; */
    

  color: #454749;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:
    'Source Sans Pro',
    sans-serif;
  min-height: 100vh;
}

.tile{
  background-color: #ffffff;
  border-radius: .1rem;
  box-shadow: 0 .75rem 1.5rem rgba(0,0,0,0.2), 0 .25rem .25rem rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 24rem;
  overflow: hidden;
  padding: 2rem;
  border-radius: 3%;
}
.show  {
    display: block;
}

.hide , #takeTest, #createTest{
    display: none;
}

.center{
    margin-left: auto;
    margin-right: auto;
   align-content: center;
   text-align: center;
}
