.show  {
    display: block;
}

.hide , #takeTest, #createTest{
    display: none;
}

.red {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D9534F;
    cursor: pointer;
    display: inline;
}

.green {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5CB85C;
    cursor: pointer;
    display: inline;
}

.red,.green{
    margin-right: 5px;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    
}